services:
  nginx:
    image: nginx
    container_name: nginx
    restart: always
    network_mode: host
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - /etc/letsencrypt:/etc/letsencrypt
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  v2ray:
    image: ghcr.io/xtls/xray-core
    container_name: xray
    network_mode: host
    restart: always
    volumes:
      - ./vless_config.json:/etc/xray/config.json
      - /etc/letsencrypt:/etc/letsencrypt
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
    command: ["run", "-c", "/etc/xray/config.json"]

  hysteria2:
    image: tobyxdd/hysteria
    container_name: hysteria2
    restart: always
    network_mode: "host"
    volumes:
      - /etc/letsencrypt:/etc/letsencrypt
      - ./hy2_config.yaml:/etc/hysteria.yaml
    command: ["server", "-c", "/etc/hysteria.yaml"]
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"